<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Policy Generator</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <h1>Policy Generator</h1>
  <p>If you can see this, the site is live.</p>

  <button id="testBtn">Click me</button>

  <p id="result"></p>

  <script src="js/main.js"></script>
</body>
</html>
